.ScrumTeamHero {
    background-image: linear-gradient(#00000075, #0000004d), url('../../assets/scrumTeam2.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    text-align: center;
    justify-content: center;
    height: 90vh;
    flex-direction: column;
    width: 100%;
  }
  
  .ScrumTeamText {
    align-self: center;
    backdrop-filter: blur(20px);
    border-radius: 10px;
    border: 1px solid hsla(40.52980132, 91.51515152%, 67.64705882%, 1);
    color: rgb(252, 252, 252);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
      'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 2rem;
    font-weight: 100;
    padding: 10px;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 30px;
    width: 90%;
  }

  .teamHeadlineContainer {
    color: #fff;
      font-size: 5.5rem;
      font-weight: 300;
      text-align: center;
      width: 100%;
}

.ScrumTeamHero h1 {
    font-size: 5.5rem;
    color: white;
    
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 300;
}

.underline {
    font-size: 5.5rem;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 300;
    position: relative;
}

.underline::after {
    content: '';
    border-bottom: 6px hsla(40.52980132, 91.51515152%, 67.64705882%, 1) solid;
    border-radius: 100%;
    width: 110%;
    position: absolute;
    bottom: 4px;
    left: -10px;
}
  
  .TeamMemberContainer {
    align-items: center;
    background-image: linear-gradient(#00000075, #00000064),  url('./../../assets/SCrumTeamBackground.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
      'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden;
    width: 100%;
  }
  .ScrumRolesImage {
    background-color: rgba(255, 255, 255, 0.771);
    border-radius: 0 0 0 10px;
    height: 300px;
    max-width: 400px;
  }
  .dropdownHead {
    align-items: center;
    background-color: hsla(40.52980132, 91.51515152%, 67.64705882%, 1);
    border-radius: 5px;
    display: flex;
    padding: 10px;
    font-weight: 100;
    justify-content: space-between;
    text-align: center;
    height: 70px;
  }
  .ScrumMemberTextContainer {
    display: flex;
    flex-direction: row;
  }
  .ScrumMember {
    border-radius: 10px;
    filter: drop-shadow(0 0 0.75rem rgba(177, 175, 175, 0.551));
    margin: 20px;
    position: relative;
    text-align: center;
    overflow: hidden;
    min-height: fit-content;
    width: 90%;
  }
  .ScrumMemberText {
    background-color: rgba(252, 200, 88, 0.798);
    text-align: start;
    letter-spacing: 1.5px;
    font-size: 1.1rem;
  }
  .ScrumMemberText :is(p) {
    padding: 10px;
  }
  @media screen and (max-width: 1024px) {
    .ScrumMemberTextContainer {
      flex-direction: column;
    }
    .ScrumRolesImage{
        min-width:  100%;
    }
  }

  
  @media screen and (max-width: 912px) {
    .TeamMemberContainer {
      flex-direction: column;
    }
    .ScrumMember {
      width: 90%;
    }
    .dropdownHead {
      height: 50px;
    }
    .ScrumTeamText {
      font-size: 1.4rem;
    }
  }

  @media only screen and (max-width: 768px) {
    .ScrumTeamHero {
        height: 90vh;
    }

    .headlineContainer {
        width: 90%;
    }

    .ScrumTeamHero h1,
    .underline {
        font-size: 4rem;
    }

}
  
  @media screen and (max-width: 429px) {
    .TeamMemberContainer {
      flex-direction: column;

    }
    .ScrumTeamText {
       
        margin-top: 20px;
      font-size: 1rem;
    }
  }
  
  @media screen and (max-width: 400px) {
      .dropdownHead {
          height: 40px;
        }
        .ScrumRolesImage {
          height: 150px;
          width: 100%;
        }
        .ScrumMemberText :is(p) {
          font-weight: 200;
          letter-spacing: 1px;
          font-size: 13px;
        }
  }