.contactPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 200px;
}

.contactHeader {
    margin-bottom: 20px;
}

.contactHeader h2 {
    font-size: 24px;
    color: #333;
}

.contactContent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
}

.contactDetails {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.contactInfo,
.contactDetail {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.icon {
    width: 50px;
    margin-right: 10px;
}

span {
    font-size: 16px;
    color: #333;
}

.contactImage {
    flex: 1;
}

.contactImage img {
    max-width: 50%;
    height: auto;
    display: block;
    margin: 0 auto;
}

@media only screen and (max-width: 768px) {
    .contactPage {
        padding: 10px;
        margin-top: 200px;
    }

    .contactHeader h2 {
        font-size: 20px;
    }

    .contactContent {
        flex-direction: column;
    }

    .contactDetails {
        align-items: center;
    }

    .icon {
        width: 40px;
    }

    .contactImage {
        width: 100%;
        height: auto;
    }
}