.article__container {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 2rem;
  gap: 1rem;
}

.article__headline {
  font-size: xx-large;
}

.article__body {
  display: flex;
  gap: 1rem;
}

.article__text {
  font-size: large;
}

.article__image__wrapper > div {
  width: 300px;
  height: 100%;
  background-color: cadetblue;
}

.article__details {
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;
  font-size: x-large;
}